body {
    background-color: #EAEAEA;
    padding: 2em;
    font-family: sans-serif;
    line-height: 1.5;
}

h1 {
    margin-top: 0;
    margin-bottom: 50px;
    color: #adadad;
}

label {
    display: block;
    font-size: 18px;
}

textarea, input {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    border-style: none;
    border-radius: 4px;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%), 0 2px 15px 0 rgb(0 0 0 / 5%);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input[type=number] {
    padding-left: 10px;
    font-size: 14px;
}

textarea {
    padding: 15px;
    width: 700px;
    max-width: 1000px;
    height: 400px;
}

select {
    display: inline-block;
    padding: 4px;
    border-style: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.select-field-container select {
    margin-bottom: 15px;
}

.select-field-container label {
    display: inline-block;
    margin-right: 20px;
}

button {
    display: block;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    border-style: none;
    border-radius: 4px;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%), 0 2px 15px 0 rgb(0 0 0 / 5%);
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: #cccccc;
    transition: background 0.2s;
}

.options-form__column-options {
    display: inline-block;
    margin-right: 10px;
}

.options-form__full-text-options {
    display: inline-block;
    vertical-align: top;
    padding: 25px;
    margin-left: 70px;
    border-radius: 4px;
    background-color: #cecece;
}

.options-form__full-text-options__title {
    margin-top: 0;
}

.options-form__full-text-options__subtitle {
    margin-bottom: 0;
}

.options-form__full-text-options label {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 5px;
}

#result-form button {
    display: inline-block;
}

#result-form button:first-of-type {
    background-color: #07bc0c;
    margin-right: 10px;
}

#result-form button:first-of-type:hover {
    background-color: #029106;
}

@media (max-width: 650px) {
    .options-form__full-text-options {
        margin-left: 0;
    }
}